/* DEFAULTS */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

nav,
header,
footer {
  display: block;
}

body {
  line-height: 1;
  margin: 0;

  font-family: "Trebuchet MS", Helvetica, sans-serif;
}


/* NAV BAR */

nav {
  width: 100%;
  margin: 0;
}

nav ul {
  background-color: #222;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

nav ul.nav-top li {
  list-style: none;
  float: left;
}

nav ul li.nav-item-right {
  float: right;
}

nav ul.nav-top li a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 1.1em;
  padding: 14px;
  text-align: center;
}

nav ul.nav-top li:first-child a {
  font-weight: bold;
  text-transform: uppercase;
}

nav ul.nav-top li a:hover {
  background-color: black;
}


/* Hide trigram on non mobile */

nav ul li.nav-dropdown-icon {
  display: none;
}


/* Show on mobile */

@media screen and (max-width: 680px) {
  nav ul.nav-top:not(.expanded) li:not(:first-child):not(.nav-dropdown-icon) {
    display: none;
  }

  nav ul li.nav-dropdown-icon {
    display: block;
  }

  nav ul.expanded {
    position: relative;
  }
  
  nav ul.nav-top.expanded li:first-child a {
    border-bottom: 2px solid white;
  }

  nav ul.nav-top.expanded li.nav-dropdown-icon { 
    position: absolute;
    top: 0;
    right: 0;
  }

  nav ul.expanded li {
    display: inline;
    float: none;
  }

  nav ul.expanded li a {
    display: block;
    text-align: left;
  }
}

/* CONTAINER */

.container {
  width: 100%;
  margin: 0;
}

/* ROWS */

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.row::after {
  display: table;
  clear: both;
  content: "";
}

/* COLUMNS */

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

[class*="col-"] {
  padding: 15px;
}

/* FORM CONTROLS */

.form { width: 100%; }

form.form input.form-field[type="text"] {
  min-width: 200px;
  font-size: 15px;
  padding: 5px;
}

/* HERO */

.hero {
  width: 100%;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#37AAFF, #37AAFF); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(blue, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(blue, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#1998F5, #7EC6FF); /* Standard syntax */
  padding: 30px;
  padding-top: 50px;
  padding-bottom: 50px;

  color: white;
}

.hero h1 {
  font-size: 3em;
}